body, html, #root, .App, .placeBar {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.placeBar {
  width: 20%;
  background-color: #B5D3DB;
  height: 100%;
}

.placeBar>h1 {
  color: #43617D;
  margin: 10px auto 5px;
}

.App>div:nth-child(2) {
}

.map>div {
  max-width: 80%;
}

.placeList {
  padding: 10px;
  margin: 0;
}

.location {
  list-style-type: none;
  cursor: pointer;
  border: solid 1px #43617D;
  border-radius: 5px;
  margin: 3px 0;
  padding: 5px;
  font-size: 1.2em;
  background-color: #5A8DAB;
  color: #283143
}

.searchBar {
  width: 80%;
  height: 25px;
  font-size: 1.3em;
  margin: 20px;
}
