body,
html,
#root,
.App,
.placeBar {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.placeBar {
  box-sizing: border-box;
  width: 20%;
  background-color: #b5d3db;
  height: 100%;
  border-right: solid 3px #43617d;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.searchBar {
  width: 80%;
  height: 25px;
  font-size: 1.3em;
  margin: 20px;
}

.placeBar>h1 {
  color: #43617d;
  margin: 10px auto 5px;
}

.placeList {
  padding: 10px;
  margin: 0;
}

.location {
  list-style-type: none;
  cursor: pointer;
  border: solid 1px #43617d;
  border-radius: 5px;
  margin: 3px 0;
  padding: 5px;
  font-size: 1.2em;
  background-color: #5a8dab;
  color: #283143;
}

.barButton {
  background-color: inherit;
  border: none;
  display: none;
  width: 30px;
  height: 20px;
  font-size: 1em;
  color: #43617d;
  position: absolute;
  right: 0px;
  top: 0px;
}

.map>div {
  max-width: 80%;
}

@media screen and (max-height: 550px) {
  .searchBar {
    margin: 10px;
    font-size: 0.9em;
  }

  .placeBar>h1 {
    margin: 5px auto 3px;
    font-size: 1.5em;
  }

  .location {
    font-size: 0.9em;
  }

  .gm-style-iw img {
    height: 200px;
  }

  .place-name {
    font-size: 1.3em;
  }
}

@media screen and (orientation: Portrait) {
  .placeBar {
    position: absolute;
    left: calc(-58%);
    top: 0px;
    z-index: 100;
    width: 60%;
    transition: left 0.3s;
  }

  .placeBar:hover {
    left: 0px;
  }

  .placeBar:hover .barButton {
    display: block;
  }

  .map>div {
    max-width: 100%;
  }

  .place-name {
    font-size: 1.4em;
  }
}
